body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
	text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #222;
	position: relative;
	left: 20%;
	margin-right: 0;
	width: 80%;
	font-family: 'Garamond', 'Times New Roman', 'Serif';
}

code {
	font-size: 1em;
	font-family:'Garamond', 'Times New Roman', 'Serif';
}

p code {
	position: absolute;
	left: -23%;
}

h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: #111;
	font-size: 3em;
	text-align: center;
	position: relative;
}

h2 {
	text-align: center;
	position: relative;
	line-height: 0em;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1.4em;
}

h2+p {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.5em;
	color: #222;
	position: relative;
	left: 10%;
	text-align: center;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 1.5em;
	line-height: 1em;
	color: #222;
	position: relative;
	top: .5em;
	width: 70%;
}

h4 {
	font-family:'Garamond', 'Times New Roman', 'Serif';
	font-size: 1.4em;
	color: #222;
	position: relative;
	left: 0%;
	font-weight: normal;
	font-style: italic;
	line-height: .0em;
	top: 0.5em;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
}
